<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @admin_doctipo.nombre %>
</p>

<%= link_to 'Edit', edit_admin_doctipo_path(@admin_doctipo) %> |
<%= link_to 'Back', admin_doctipos_path %>
