<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @admin_docestado.nombre %>
</p>

<%= link_to 'Edit', edit_admin_docestado_path(@admin_docestado) %> |
<%= link_to 'Back', admin_docestados_path %>
