%div{'ng-app' => 'app', 'ng-controller' => 'AreaAsignacionController'}
  %h1 Asignación de usuario
  %ul.breadcrumbs
    %li
      %a{'ng-click' => 'clear_current_area()'}
        Areas
    %li.current{'ng-class' => '{ "hide": !current_area }'}
      {{current_area.nombre}}      
    %li.current{'ng-class' => '{ "hide": !current_area }'}
      Usuarios
  %div{'ng-class' => '{"hide": current_area }'}
    %ul
      %li{'ng-repeat' => 'area in areas'}
        %a{'ng-click' => 'set_current_area(area)' } {{area.nombre}}
  %div{'ng-class' => '{ "hide": !current_area }'}  
    %ul
      %li{'ng-repeat' => 'asignacion in data_of_current_area.userasignaciones'} 
        %span {{asignacion.user.username}}  - {{asignacion.user.fullname}}
        %a.button.small.secondary{'ng-click' => 'delete_userasignacion_from_area(asignacion)'} x
    %form{'ng-submit' => 'buscar_users()'}
      .row
        .large-9.columns
          %input{ type: 'text', placeholder: 'Ingresar DNI', 'ng-model' => 'search_user'}
        .large-3.columns
          %a.button.postfix{'ng-click' => 'buscar_users()'} Buscar
    %ul
      %li{'ng-repeat' => 'user in users'}
        %span {{user.username}} - {{user.fullname}}
        %a{'ng-click' => 'add_user_to_current_area(user)'} agregar
= javascript_include_tag "areas-asignacion"