.bandeja-entrada-area{	

	.bandeja{
		.item-doc{
			border-bottom: 1px solid #ccc;
			padding-top:10px;
			padding-bottom:5px;
			height: 100px;
			min-height: 100px;
			position:relative;

			.verificar{
				display: inline-block;
				height: 100px;
				input{
					vertical-align: middle;
				}
			}
			.contenido{
				display: inline-block;
				.remitente{
				display:block;
				}
				.asunto{
					display:block;
				}
				.tags{
				  list-style: none;
				  margin-left: 0;
				  li{
					font-size:0.7em;
					background: #eee;
					padding:3px;
					display:block;
					float:left;
					margin-left: 4px;
					width: 80px;
					color: white;
					&.recibido{
					 background: rgba(0, 140, 186, 1);
					}
					&.no-recibido{
					 background: rgba(254, 159, 30, 1);
					}
					&.enviado{
					 background: rgba(67, 172, 106, 1);
					}
					&.no-enviado{
					 background: rgba(240, 65, 36, 1);
					}
				  }
				   
				}
			}
			
			.lista-movimientos{		
				position: absolute;
				bottom: 0;
				right: 0;
				float:right;
				list-style: none;				
				li{
					font-size:0.80em;
					background: #eee;
					padding:3px;
					display:block;
					float:left;
					margin-left: 4px;
					a{
						color: #46454A;
					}
				}
			}
			.lado-derecho{
				font-size:0.72em;
				list-style: none;
				float: right;
				li{
					text-align:right;
				}
			}
		}
		.fecha{
			
		}
	}
}
