

<% if !user_signed_in? %>
<li><%= link_to "INGRESAR", new_user_session_path %></li>

<% else %>
<li class='hide'><%= link_to "PÃGINA PROTEGIDA", inside_path %></li>
<li><%=link_to "BANDEJA DE ENTRADA", areas_root_path %></li>
<% if current_user.admin? %>
<li><%= link_to "ADMIN", admin_root_path %></li>
<% end %>
<% end %>
